<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <title>Datos Proceso</title>
</head>

<body>
    <section class="container pt-5">
        <div class="form-row">
            <h1 class="mt-1 mb-3 pl-3">Datos del proceso</h1>
            <div class="row">
                <div class="col-md-4">
                    <h6>Argumentos de entrada:</h6>  
                </div>   
                <div class="col-md-8">
                    <h6>{{argumentos}}</h6>
                </div>
                <div class="col-md-4">    
                    <h6>Nombre de la plataforma: </h6>
                </div>
                <div class="col-md-8">
                    <h6>{{plataforma}}</h6>
                </div>   
                <div class="col-md-4"> 
                    <h6>Versión de node.js: </h6>
                </div>   
                <div class="col-md-8">  
                    <h6>{{version}}</h6>
                </div>
                 <div class="col-md-4"> 
                    <h6>Uso de memoria: </h6>
                </div>  
                 <div class="col-md-8">  
                    <h6>{{usomemo}}</h6>
                </div>  
                <div class="col-md-4"> 
                    <h6>Path de ejecución: </h6>
                </div>  
                 <div class="col-md-8">  
                    <h6>{{path}}</h6>
                </div>  
                <div class="col-md-4"> 
                    <h6>Process ID: </h6>
                </div>  
                 <div class="col-md-8">  
                    <h6>{{pid}}</h6>
                </div>
                                 
            </div>
        </div>   
        <form action="/ecommerce/" method="GET">
            <button class="btn btn-primary mt-3" type="submit">Volver</button>
        </form>
     
    </section> 
</body>

</html>
     
     